/* Defaults */

html {
    background-color: #808080;    
}

header {
    background-color: #9eabd5;
    color: #fff;    
    padding: 5px 10px 1px 25px;
    white-space: nowrap;
}

nav {
    background-color: #ffffff;
    height: 35px;    
    font-weight: bold;
    word-spacing: 50px;
    white-space: nowrap;    
}

body {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

footer {
    background-color: #9eabd5;
    color: #fff;    
    padding: 1px 20px 1px 20px;
    text-align: right;
}

table {
    margin: 0px auto auto auto;
    padding: 20px;
}

td {
    padding: 10px;
}

th {
    padding-right: 30px;
}

/* Classes */

.clearing {
    clear: both;
}
.top {
    margin-top: auto;
    margin-bottom: auto;
}

#sidebar {
    width: 200px;
    float: right;
    background: #ebf2fb;
    margin-top: auto;
    margin-bottom: 50px;
}

.wrapper {    
    min-width: 1000px;    
}

.registerOrSignIn {
    float: right;
}

    .registerOrSignIn a:link, .registerOrSignIn a:visited, .registerOrSignIn a:active {
        color: white;    
        text-decoration: none;
    }
    .registerOrSignIn a:hover {
        color: blue;    
        text-decoration: underline;
    }

.headerTitle a:visited, .headerTitle a:active, .headerTitle a:hover, .headerTitle a:link {
    font-size: 32pt;
    text-decoration: none;
    color: white;
}

.navLeft {
    float: left;
    padding-left: 50px;
    padding-top: 5px;
    font-size: 16pt;
    font-family: Calibri;        
}
    .navLeft a:visited, .navLeft a:active, .navLeft a:link {
        text-decoration: none;
        color: black;
        font-family: Calibri;
    }
    .navLeft a:hover{
        text-decoration: underline;
        color: blue;
        font-family: Calibri;
    }

.body {
    min-height: 500px;
    max-width: 1000px;    
    padding: 1px 40px 1px 40px;
    background-color: #ebf2fa;    
    margin: auto;
}

.bold {
    font-weight: bold;
}

.error {
    color: red;
}