/* Defaults */

html {
    background-color: #0e0633
        
}

header {
    background-color: #9eabd5;
    color: #fff;    
    padding: 5px 10px 1px 25px;
    white-space: nowrap;
}

nav {
    background-color: #ffffff;
    height: 35px;    
    font-weight: bold;
    word-spacing: 50px;
    white-space: nowrap;    
}

body {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;    
}

footer {
    background-color: #9eabd5;
    color: #fff;    
    padding: 1px 20px 1px 20px;
    text-align: right;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

/* Classes */

.clearing {
    clear: both;
    height: 0px;
}

.top {
    margin-top: auto;
    margin-bottom: auto;
}

.wrapper {    
    min-width: 1000px;    
}

.registerOrSignIn {
    float: right;
}

    .registerOrSignIn a:link, .registerOrSignIn a:visited, .registerOrSignIn a:active {
        color: white;    
        text-decoration: none;
    }
    .registerOrSignIn a:hover {
        color: blue;    
        text-decoration: underline;
    }

.headerTitle a:visited, .headerTitle a:active, .headerTitle a:hover, .headerTitle a:link {
    font-size: 32pt;
    text-decoration: none;
    color: white;
}

.navLeft {
    float: left;
    padding-left: 50px;
    padding-top: 5px;
    font-size: 16pt;
    font-family: Calibri;        
}
    .navLeft a:visited, .navLeft a:active, .navLeft a:link {
        text-decoration: none;
        color: black;
        font-family: Calibri;
    }
    .navLeft a:hover{
        text-decoration: underline;
        color: blue;
        font-family: Calibri;
    }

.body {
    min-height: 500px;
    max-width: 1000px;    
    padding: 1px 40px 1px 40px;
    background-color: #ebf2fa;    
    margin: auto;    
    font-size: 14pt;
}

table {
    margin: auto;
    padding: 20px;
}
    table th {    
        padding: 10px 30px 5px 30px;
    }
    table td {
        padding-top: 5px;
        padding-bottom: 5px;
    }

#treeViewManager table {
    margin: 0;
    padding: 0;
}
    #treeViewManager th {
        padding: 0;
        margin: 0;
    }
    #treeViewManager td {
        margin: 0;
        padding: 0;
    }

.bold {
    font-weight: bold;
}

.error {
    color: red;
}

.center {
    text-align: center;
}

.button {
    font-size: 14pt;
    padding: 4px 10px 2px 10px;
    text-align: center;
}

/* Ids */

#wrapper {
}

#container {
    width: 100%;
    float: left;
    margin-right: -300px;
}

#sidebar {
    width: 155px;
    float: right;
    background: #ebf2fb;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align:left;  
}

#MainContent_Label1 {
    font-size: 24px;
    letter-spacing: 2px;
    font: bold;
    text-align: left;
    color:darkblue;
}

#MainContent_Label2 {
    font-size: 20px;
    letter-spacing: 2px;
    font: bold;
    color:darkblue;
}

#MainContent_Label3 {
    font-size: 30px;
    letter-spacing: 2px;
    font: bold;
    color:darkblue;
}

#MainContent_Label4 {
    font-size: 30px;
    letter-spacing: 2px;
    font: bold;
}

#MainContent_Label5 {
    font-size: 30px;
    letter-spacing: 2px;
    font: bold;
}

#MainContent_Label6 {
    font-size: 30px;
    letter-spacing: 2px;
    font: bold;
}
