.wrapper {
    background-color: #c5cdff;
    max-width: 1200px;
}

header {
    background-color: #2443fe;
    color: #fff;    
    padding: 1px 20px 1px 20px;
}
.body {
    padding: 1px 40px 1px 40px;
}

footer {
    background-color: #2443fe;
    color: #fff;    
    padding: 1px 20px 1px 20px;
}